
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

/*INPUT STYLES*/

.input {
    display: flex;
    position: relative;
    width: 33%;
    align-items: center;
}

.input_box {
    position: relative;
    width: 90%;
    border-radius: 5px;
    border-color: #D8B4A0;
    border: thin;
    padding: 15px;
    font-size: 16px;
}


.input_submit {
    position: relative;
    padding: 15px 20px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    border: none;
    background-color: #E28B7D;
    backdrop-filter: blur(2px);
    opacity: 0.8;
    font-size: 18px;
    text-align: center;
}
.input_submit:hover {
    transform: scale(1.05);
    opacity: 1;
}

/*SINGLE TODO STYLES*/

.todo-block {
    display: flex;
    width: 90%;
    margin: 8px 5px;
    padding: 15px;
    background-color: rgba(243, 228, 226, 1);
    font-size: 15px;
    border-radius: 20px;
    transition: 0.2s;
}

    .todo-block:hover {
        transform: scale(1.03);
    }


.text {
    flex: 1;
    font-size: 20px;
    font-style: oblique;
    color: #223843;
}

.icon {
    margin: 5px;
    color: #223843;
}

.edit-todo-input { /*fix placeholder size and bg color*/
    display: flex;
    border: 0px;
    background-color: none;
    font-size: 20px;
}

/*LIST STYLES*/

.container {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 228px 0 25px;
}

.todos {
    overflow-x: hidden;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 32.66%;
}

.created {
    background-color: rgba(186, 133, 127, 0.9);
}

.inprogress {
    background-color: rgba(155, 130, 132, 0.9)
}

.completed {
    background-color: rgba(124, 130, 141, 0.9);
}

.subheader {
    font-size: 32px;
}

.dragactive {
    background-color: rgba(216, 180, 160, 0.6);
}

.dragcomplete {
    background-color: rgb(216, 180, 160, 0.6);
}

.drag {
    box-shadow: 0 0 20px black;
}


@media (max-width: 1100px) {

    .input {
        width: 80%;
    }
    .container {
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .todos {
        width: 80%;
        margin-bottom: 10px;
    }
}