@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*  
    #223843
    #EFF1F3
    #DBD3D8
    #D8B4A0
    #D77A61
*/

body {
    background-color: #EFF1F3;
}

.App {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

.head {
    position: fixed;
    width: 100%;
    padding: 50px 0 20px 30px;
    top: 0;
    background-color: #E7E7E7;
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
    color: #223843;
}
