@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background: url('https://i.redd.it/ocmwsw4qyy661.jpg');
    backdrop-filter: blur(10px);
}

.App {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

.head {
    position: fixed;
    width: 100%;
    padding: 50px 20px 20px;
    top: 0;
    background-color: rgba(76, 95, 106, 0.6);
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
    color: rgba(243, 228, 226, 1);
}
